@page "/"

<PageTitle>Home</PageTitle>

<div class="pa-6" style="width: 100%;">
    <CardCarousel>
        
        <CardCarouselItem>
            <NavCard Title="Teams" To="teams">
                <NavCardContent>
                    <MudText Align="Align.End" Typo="Typo.h5"><b>6 teams, 1 winner. Checkout this year's teams</b></MudText>
                </NavCardContent>
            </NavCard>
        </CardCarouselItem>

        <CardCarouselItem>
            <NavCard Title="Schedule" To="schedule">
                <NavCardContent>
                    <MudText Align="Align.End" Typo="Typo.h5"><b>Tournament begins Aug. 10: See when your team is playing</b></MudText>
                </NavCardContent>
            </NavCard>
        </CardCarouselItem>

    </CardCarousel>
</div>