@page "/"

<PageTitle>Home</PageTitle>

<div class="pa-6" style="width: 100%;">
    <CardCarousel Class="spotlight-carousel">
        <CardCarouselItem>
            <NavCard Title="Register" To="register" ImgSrc="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images//bc-2024.webp">
                <NavCardContent>
                    <MudText Align="Align.End" Typo="Typo.h5"><b>Reserve your spot for Bolton Cup 2025</b></MudText>
                </NavCardContent>
            </NavCard>
        </CardCarouselItem>        
        
        <CardCarouselItem>
            <NavCard Title="Teams" To="teams" ImgSrc="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images//BOLTONCUP-153.webp">
                <NavCardContent>
                    <MudText Align="Align.End" Typo="Typo.h5"><b>6 teams, 1 winner. Checkout this year's teams</b></MudText>
                </NavCardContent>
            </NavCard>
        </CardCarouselItem>

        <CardCarouselItem>
            <NavCard Title="Schedule" To="schedule" ImgSrc="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images//BOLTONCUP-86.webp">
                <NavCardContent>
                    <MudText Align="Align.End" Typo="Typo.h5"><b>Tournament begins Aug. 10: See when your team is playing</b></MudText>
                </NavCardContent>
            </NavCard>
        </CardCarouselItem>
    </CardCarousel>
    
    <MudText Class="mt-10" Typo="Typo.h6"><b>2024 Leaders</b></MudText>
    <CardCarousel Class="leader-carousel">
        <CardCarouselItem>
            <LeaderCard StatType="Points" />
        </CardCarouselItem>        
        <CardCarouselItem>
            <LeaderCard StatType="Goals" />
        </CardCarouselItem>
        <CardCarouselItem>
            <LeaderCard StatType="Assists" />
        </CardCarouselItem>
        <CardCarouselItem>
            <LeaderCard StatType="Goals Against Average" />
        </CardCarouselItem>
        <CardCarouselItem>
            <LeaderCard StatType="Save Percentage" />
        </CardCarouselItem>
    </CardCarousel>
</div>