@page "/teams"

@inject IBCData BCData

<PageHeader Title="Teams" BkgImage="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images/web-teams.jpg" OffsetY="25" Height="30vh">Teams</PageHeader>

<TournamentPicker @bind-SelectedTournament="selectedTournament" />

@if (teams is not null)
{
    <div class="d-flex justify-center my-20 mx-md-20 mx-1">
        <MudGrid Spacing="0">
            @foreach (var team in teams)
            {
                <MudItem xs="12" md="6" Class="py-2 px-md-10">
                    <TeamCard Team="@team" />
                </MudItem>
            }
        </MudGrid>
    </div>
}

@code {

    private IEnumerable<BCTeam>? allTeams;

    private IEnumerable<BCTeam>? teams
    {
        get
        {
            if (selectedTournament is null || allTeams is null) return allTeams;
            
            return allTeams.Where(x => x.tournament_id == selectedTournament.tournament_id);
        }
    }

    private BCTournament? selectedTournament;

    protected override async Task OnInitializedAsync()
    {
        allTeams = await BCData.GetTeams();
    }
}