@inherits LayoutComponentBase

@inject NavigationManager Navigation

<MudThemeProvider Theme="@_theme" IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="soon-background d-flex justify-center align-center" style="width: 100%; height: 120vh;">
        <MudStack Class="px-20 mx-10" Wrap="Wrap.Wrap" Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center">
            <div class="d-flex justify-center">
                <MudText Color="Color.Secondary" Typo="Typo.h5" HtmlTag="i"><b>Check back soon for 2025 details...</b></MudText>
            </div>
            <Countdown/>
        </MudStack>
    </div>
</MudLayout>


@code {
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new CustomThemeProvider().Theme;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
        StateHasChanged();
    }

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

    private void NavToHome() => Navigation.NavigateTo("");
}