@page "/"


<PageTitle>Home</PageTitle>

<div class="py-2" style="width: 100%;">
    <div class="d-flex justify-center align-center" style="height: 60vh">
        <MudStack AlignItems="AlignItems.Center" Style="width: 100%">
            <MudButtonGroup Color="Color.Tertiary" Size="Size.Large" Variant="Variant.Outlined" FullWidth>
                <MudButton Href="admin" StartIcon="@Icons.Material.Filled.AdminPanelSettings">Admin</MudButton>
                <MudButton Href="trades" StartIcon="@Icons.Material.Filled.SwapHoriz">Trades</MudButton>
                <MudButton Href="playoffs" StartIcon="@Icons.Material.Filled.SportsHockey">Playoffs</MudButton>
            </MudButtonGroup>
            <MudButtonGroup Color="Color.Tertiary" Size="Size.Large" Variant="Variant.Outlined" FullWidth>
                <MudButton Href="rankings" StartIcon="@Icons.Material.Filled.FormatListNumbered">Rankings</MudButton>
            </MudButtonGroup>
        </MudStack>
    </div>
</div>
