@namespace BoltonCup.Components
@inject NavigationManager navManager

@if (Team is not null)
{
    <Table Striped Hoverable>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Date</TableHeaderCell>
                <TableHeaderCell>Opp</TableHeaderCell>
                <TableHeaderCell>Score</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var game in Api.StatService.Instance().TeamGames(Team.Name!))
            {
                string winloss = "L";
                TextColor winlossTextColor = TextColor.Danger;
                string opponent = game!.HomeTeam!;
                int homeGoals = game.HomeGoals!.Count();
                int awayGoals = game.AwayGoals!.Count();
                if (game.HomeTeam == Team.Name)
                {
                    winloss = (homeGoals == awayGoals) ? "T" : ((homeGoals < awayGoals) ? "L" : "W");
                    opponent = game.AwayTeam!;
                }
                else if (game.AwayTeam == Team.Name)
                {
                    winloss = (homeGoals == awayGoals) ? "T" : ((homeGoals > awayGoals) ? "L" : "W");
                    opponent = game.HomeTeam!;
                }
                if (winloss == "T") winlossTextColor = TextColor.Dark;
                else if (winloss == "W") winlossTextColor = TextColor.Success;

                string oppAbbrev = Api.TeamService.TeamAbbrev(opponent);

                <TableRow style="cursor: pointer" @onclick='() => navManager.NavigateTo($"/sheet?game={game.Title}")'>
                    <TableRowHeader>@game.Date?.ToString("MMM dd/yy").Replace("-", "/")</TableRowHeader>
                    <TableRowCell>vs @oppAbbrev <Figure Size="FigureSize.Is24x24" Margin="Margin.IsAuto">
                            <FigureImage Source="@Api.TeamService.Instance().GetTeamByName(opponent)!.Logo" />
                        </Figure>
                    </TableRowCell>
                    <TableRowCell>@homeGoals - @awayGoals <Text TextColor="@winlossTextColor"
                            TextWeight="TextWeight.Bold">@winloss</Text></TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}


@code {
    [Parameter] public TeamData? Team { get; set; } = null;
}