@namespace BoltonCup.Admin.Components.Shared
@typeparam T where T : EntityBase
@inherits InputColumnBase<T, DateTime>

@code {
    protected override RenderFragment EntityEditTemplate(CellContext<T> context)
    {
        var property = PropertyFunc(context.Item);
        if (property is not DateTime item)
        {
            return @<div></div>;
        }

        return @<MudDatePicker Date="item" DateChanged="d => SetProperty(context.Item, d)"
                               Margin="Margin.Dense" Underline="false" Rounded Editable />;
    }
}