@inherits LayoutComponentBase
@inject Common.Theme.BoltonCupTheme Theme
@inject NavigationManager Navigation
@inject IDialogService DialogService


<MudThemeProvider Theme="GetTheme()" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Dense>
        <a href="/" style="height: 100%">
            <BoltonCupLogo Height="48" />
        </a>
        
        <MudSpacer />
        
        <AuthorizeView Roles="Admin">
            <MudButton
                OnClick="@CreateNewDraftAsync" Variant="Variant.Filled" Class="mr-1"
                Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Rounded.Add">
                New Draft
            </MudButton>
        </AuthorizeView>
        
        <UserMenu Mini />
    </MudAppBar>
    <MudMainContent Style="min-height: 100vh">
        <BoltonCupErrorBoundary>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
                @Body
            </MudContainer>
        </BoltonCupErrorBoundary>
    </MudMainContent>
    <Footer />
</MudLayout>


@code {

    private MudTheme GetTheme()
    {
        var theme = Theme.MudTheme;
        theme.PaletteLight.AppbarBackground = theme.PaletteLight.Tertiary;
        theme.PaletteLight.AppbarText = theme.PaletteLight.Primary;
        return theme;
    }

    private async Task CreateNewDraftAsync()
    {
        var dialog = await DialogService.ShowAsync<NewDraftDialog>();
        var result = await dialog.Result;
        if (result?.Data is int newDraftId)
        {
            Navigation.NavigateTo($"/drafts/{newDraftId}/config");
        }
    }

}