@using Microsoft.AspNetCore.Components.Forms
@namespace BoltonCup.Common.Components
@inject ISnackbar Snackbar
@inject IAssetFileUploader AssetFileUploader
@inject IS3UrlResolver S3UrlResolver

<MudDialog>
    <TitleContent>
        Edit Image
    </TitleContent>
    <DialogContent>
        <div class="mud-width-full d-flex flex-column align-center justify-center">
            <MudImage Src="@S3UrlResolver.GetFullUrl(_src)" Width="300" />
            <MudFileUpload T="IBrowserFile" FilesChanged="FilesChanged" Accept=".png, .jpg, .webp, .svg">
                <ActivatorContent>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               Disabled="_loading">
                        @if (string.IsNullOrEmpty(_uploadFilename))
                        {
                            <MudText Typo="Typo.button">Upload</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.button">@_uploadFilename</MudText>
                        }
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Disabled="_loading">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Disabled="_loading">OK</MudButton>
    </DialogActions>
</MudDialog>



@code {
    
    // TODO: use ephemeral s3 bucket

    [CascadingParameter]
    public IMudDialogInstance DialogInstance { get; set; } = null!;
    
    [Parameter]
    public string? Src { get; set; }

    private bool _loading;
    private string? _src;
    private string? _uploadFilename;

    protected override void OnParametersSet()
    {
        _src ??= Src;
    }

    private async Task FilesChanged(IBrowserFile? file)
    {
        if (file is null)
            return;
        if (!file.ContentType.StartsWith("image/"))
        {
            Snackbar.Add($"{file.Name} is not an image.", Severity.Error);
            return;
        }
        
        _loading = true;
        StateHasChanged();

        try
        {
            var tempKey = await AssetFileUploader.UploadAsync(file);
            _src = tempKey;
            _uploadFilename = file.Name;
        }
        catch (Exception e)
        {
            Snackbar.Add($"Error: {e.Message}", Severity.Error);
            throw;
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }
    
    private void Cancel() => DialogInstance.Close();

    private void Submit()
    {
        DialogInstance.Close(_src);
    }

}