/* /Components/Pages/Home.razor.rz.scp.css */
.home-banner-background[b-np3zf1rhfg] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images/web-home.jpg");
    background-size: cover;
    background-position: center center;
}
/* /Components/Pages/Player.razor.rz.scp.css */
.action-shot-container[b-3u43wcl8oc] {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('./img/action-cover-temp.jpg');
}

[b-3u43wcl8oc] .action-shot {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 50% 70%;
    z-index: 0;
}

.action-shot-caption[b-3u43wcl8oc] {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) saturate(180%);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
