@page "/drafts/{DraftId:int}"
@using BoltonCup.Draft.Services
@layout Layout.DraftLayout
@implements IDisposable
@inject DraftStateService DraftState

@if (_loading)
{
    
}
else if (DraftState.Draft is not null)
{
    if (_connectionState == DraftConnectionState.Reconnecting)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Square Dense>We are having issues connecting to the server so you may see inaccurate results. We are attempting to reconnect you...</MudAlert>
    }
    
    if (DraftState.CanEditDraft)
    {
        <MudSplitPanel 
            Class="mud-width-full" Style="height: calc(100vh - 64px)"  
            FirstPanelInitialSize="400" MinPanelSize="50" Horizontal Transparent>
            <FirstPanel>
                <div class="mud-height-full overflow-y-auto overflow-x-hidden">
                    <DraftDataGrid/>
                </div>
            </FirstPanel>
            <SecondPanel>
                <div class="mud-height-full overflow-y-auto overflow-x-hidden">
                    <DraftToolDrawer/>
                </div>
            </SecondPanel>
        </MudSplitPanel>
    }
    else
    {
        <div class="mud-height-full overflow-y-auto overflow-x-hidden">
            <DraftDataGrid/>
        </div>
    }
}

@code {
    
    [Parameter]
    [EditorRequired]
    public required int DraftId { get; set; }

    private int? _draftId;

    private bool _loading = true;

    private DraftConnectionState _connectionState;
    
    protected override async Task OnParametersSetAsync()
    {
        if (DraftId == _draftId)
            return;
        _draftId = DraftId;

        _loading = true;

        await DraftState.InitializeAsync(DraftId);
        DraftState.OnStateChanged += HandleDraftStateChange;

        _loading = false;
        await InvokeAsync(StateHasChanged);
    }

    private void HandleDraftStateChange()
    {
        if (_connectionState == DraftState.ConnectionState)
            return;
        _connectionState = DraftState.ConnectionState;
        StateHasChanged();
    }
    
    public void Dispose()
    {
        DraftState.OnStateChanged -= HandleDraftStateChange;
    }
}