@inherits LayoutComponentBase
@inject Common.Theme.BoltonCupTheme Theme

<MudThemeProvider Theme="GetTheme()" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column" Style="min-height: 100vh">
    <MudAppBar Elevation="0">
        <a href="https://boltoncup.ca" style="height: 100%">
            <BoltonCupLogo Height="64" />
        </a>
    </MudAppBar>
    <MudMainContent Class="mud-height-full d-flex flex-column justify-center">
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column align-center mud-width-full gap-3">
            @Body
        </MudContainer>
    </MudMainContent>
    <Footer />
</MudLayout>


@code {

    private MudTheme GetTheme()
    {
        var theme = Theme.MudTheme;
        theme.PaletteLight.AppbarBackground = "#FFFFFF";
        theme.PaletteLight.AppbarText = "#000000";
        return theme;
    }

}