@inject IJSRuntime JS

<div class="d-flex justify-center">
    <MudStack Class="px-1" AlignItems="AlignItems.Center">
        <MudText Color="Color.Secondary" Typo="Typo.h1" HtmlTag="i"><b><span id="timersec"></span></b></MudText>
    </MudStack>
</div>

<MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Secondary" OnClick="StartTimer" />

@code {
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StartTimer();
        }
    }

    private async Task StartTimer()
    {
        await JS.InvokeVoidAsync("picktimer", 30);
    }
}