@page "/info"

<PageTitle>Info</PageTitle>

<div class="py-4 info-banner-background" style="width: 100%; height: 20rem;"></div>

<br>

<InfoBlock Label="GENERAL">
    <MudText>The tournament will be held on August 2-4 at the Atlas Tube Centre (447 Renaud Line Rd.).</MudText>
    <MudText>There is a $50 registration fee. This fee covers ice, refs, timekeepers and prizes.</MudText>
    <MudText>Each team is guaranteed four games.</MudText>
    <MudText>There will be four teams, each with an assigned team captain.</MudText>
    <MudText>Teams will be drafted by their respective captains. Players must be registered prior to the draft (July 25)
        in order to play.</MudText>
    <MudText>There will be prizes awarded to the winning teams.</MudText>
</InfoBlock>

<InfoBlock Label="GAMES">
    <MudText>Each game will start with a 3-minute warmup and will have three 10-minute stop-time periods.</MudText>
    <MudText>Game rules will follow similar structure to that of OHA with the exception of fighting, which will results
        in 5-minute majors to both participants.</MudText>
    <MudText>Games resulting in a tie will play 3-on-3 overtime until ice curfew.</MudText>
    <MudText>Each team will first play round-robin games for seeding. Points are awarded based on if a team wins (2
        points), ties (1 points), or loses in overtime (1 point).</MudText>
    <MudText>If teams finish with the same amount of points, the tie-breaker will be determined based on (1)
        Head-to-head result, (2) goal differential, (3) goals for.</MudText>
    <MudText>Stats will be tracked. They will be posted and available to view after each game.</MudText>
</InfoBlock>
