@page "/info"

<PageTitle>Info</PageTitle>

<div class="py-4 info-banner-background" style="width: 100%; height: 20rem;"></div>

<br>

<InfoBlock Label="GENERAL">
    <InfoItem Label="Date">TBA.</InfoItem>
    <InfoItem Label="Fee">TBA.</InfoItem>
    <InfoItem>Each team is guaranteed four games.</InfoItem>
    <InfoItem>There will be 6-8 teams, each with an assigned team captain.</InfoItem>
    <InfoItem>Teams will be drafted by their respective captains. Players must be registered prior to the draft in order to play.</InfoItem>
    <InfoItem>Players will receive jerseys as part of the fee.</InfoItem>
    <InfoItem>There will be prizes awarded to the winning teams.</InfoItem>
</InfoBlock>

<InfoBlock Label="GAMES">
    <InfoItem>Each game will start with a 3-minute warmup and will have three 10-minute stop-time periods.</InfoItem>
    <InfoItem>Game rules will follow similar structure to that of OHA with the exception of fighting, which will results
        in 5-minute majors to both participants.</InfoItem>
    <InfoItem>Games resulting in a tie will play 3-on-3 overtime until ice curfew.</InfoItem>
    <InfoItem>Each team will first play round-robin games for seeding. Points are awarded based on if a team wins (2
        points), ties (1 points), or loses in overtime (1 point).</InfoItem>
    <InfoItem>If teams finish with the same amount of points, the tie-breaker will be determined based on (1)
        Head-to-head result, (2) goal differential, (3) goals for.</InfoItem>
    <InfoItem>Stats will be tracked. They will be posted and available to view after each game.</InfoItem>
</InfoBlock>
