@page "/schedule"

@inject IBCData BCData

<PageHeader Title="Schedule" BkgImage="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images//BOLTONCUP-57.JPG" OffsetY="40" Height="25vh">Schedule</PageHeader>

<div class="mx-2 mx-md-2">
    
    <TournamentPicker @bind-SelectedTournament="selectedTournament" />
    
    @if (renderedSchedule is not null && selectedTournament is not null)
    {
        <ScheduleTable Games="renderedSchedule"/>
    }
    else
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="400px" Width="100%" />
    }
</div>

@code {

    public IEnumerable<BCGame>? fullSchedule;

    private IEnumerable<BCGame>? renderedSchedule
    {
        get
        {
            if (fullSchedule is null) return null;
            
            var schedule = fullSchedule.ToList();

            if (selectedTournament is not null)
            {
                schedule = schedule.Where(x => x.tournament_id == selectedTournament.tournament_id).ToList();
            }

            return schedule;
        }
    }

    private BCTournament? selectedTournament;

    protected override async Task OnInitializedAsync()
    {
        fullSchedule = await BCData.GetSchedule();
    }

}