<MudAppBar Elevation="1" ToolBarClass="d-flex flex-row align-center">
    <a href="/" style="height: 100%">
        <MudImage Src="img/boltoncup.png" Alt="Bolton Cup" Height="64"/>
    </a>
    
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
        @foreach (var navLink in _navLinks)
        {
            <MudButton Href="@navLink.Href" Variant="Variant.Text" Color="Color.Inherit" Size="Size.Large">@navLink.Title</MudButton>
        }
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudSpacer />
        <MudIconButton OnClick="OpenDrawer" Icon="@Icons.Material.Rounded.Menu" Variant="Variant.Text" Color="Color.Inherit" />
        <NavMenu @bind-Open="_drawerOpen" />
    </MudHidden>
</MudAppBar>


@code{
    
    private readonly List<NavLinkItem> _navLinks =
    [
        new("Home", "/", Icons.Material.Rounded.Home),
        new("Info", "/info", Icons.Material.Rounded.Info),
        new("Teams", "/teams", Icons.Material.Rounded.Groups),
        new("Schedule", "/schedule", Icons.Material.Rounded.CalendarMonth),
        new("Stats", "/stats", Icons.Material.Rounded.QueryStats)
    ];
    
    private bool _drawerOpen;

    private void OpenDrawer() => _drawerOpen = true;
    
    private record NavLinkItem(string Title, string Href, string Icon);

}