@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar />
    <MudMainContent>
        <div class="my-2 mx-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>