@page "/"

@inject SupabaseServiceProvider SBService
@inject IBCData BCData

<PageTitle>Home</PageTitle>

<!-- <Sponsors /> -->

<div class="home-banner-background">


    <MudGrid class="py-6" style="width: 100%; height: 60rem;">
        <MudItem class="ma-auto" xs="12">
            <Countdown />
        </MudItem>
    </MudGrid>
</div>

<MudButton OnClick="OnClick">CLICK ME</MudButton>

@code {


    private async Task OnClick()
    {
        string[] emails = { "biggee317317@gmail.com", "eastonwforrest@gmail.com" };

        foreach (var email in emails)
        {
            var form = await BCData.GetRegistrationByEmailAsync(email);
            await SBService.SendRegistrationEmail(form);
        }
    }

}
