@page "/"

@inject IBCData BCData

<HeadContent>
    <meta name="description"
          content="Bolton Cup is back this year: July 18-20 at Tecumseh Arena and the WFCU Centre.">
</HeadContent>


<PageTitle>Bolton Cup</PageTitle>

<div class="home-banner-background">
    <MudGrid class="py-6" style="width: 100%; height: 85vh;">
        <MudItem class="ma-auto" xs="12">
            <Countdown To="_currentTournament?.start_date"/>
        </MudItem>
    </MudGrid>
    
    
    <div class="pa-4 mt-8" style="background-image: linear-gradient(to bottom, #00000000, #000000ff 60%);">
        <MudStack Class="my-1" Justify="Justify.Center" Row>
            <MudText Typo="Typo.h4" Class="white-text" Align="Align.Center"><b>Huge thanks to our sponsors for making this possible!</b></MudText>
        </MudStack>
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Wrap="Wrap.Wrap" Spacing="7" Row>
            @foreach (var sponsor in _sponsors)
            {
                <SponsorCard Sponsor="sponsor"/>
            }
        </MudStack>
    </div>
</div>


@code {

    private IEnumerable<BCSponsor> _sponsors = [];
    private BCTournament? _currentTournament;

    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        StateHasChanged();
        
        _currentTournament = await BCData.GetCurrentTournamentAsync();
        _sponsors = await BCData.GetActiveSponsorsAsync();

        _loading = false;
        StateHasChanged();
    }
}