@page "/"

<PageTitle>Home</PageTitle>

<!-- <Sponsors /> -->

<div class="home-banner-background">


    <MudGrid class="py-6" style="width: 100%; height: 60rem;">
        <MudItem class="ma-auto" xs="12">
            <Countdown />
        </MudItem>
    </MudGrid>
</div>
