@page "/"

<PageTitle>Home</PageTitle>

<!-- <Sponsors /> -->

<div class="home-banner-background">
    @* <Grid RowColumns="RowColumns.Are1" Width="Width.Is100" Shadow="Shadow.Default" Margin="Margin.IsAuto"
        Border="Border.Rounded" Background="Background.Transparent">
        <Column ColumnSize="ColumnSize.Is12">
            <PlayerSpotlight />
        </Column>
    </Grid> *@

    <MudGrid class="py-6" style="width: 100%; height: 60rem;">
        <MudItem class="ma-auto" xs="12">
            <Countdown />
        </MudItem>
    </MudGrid>
</div>

<br>
<br>

<!-- <Grid RowColumns="RowColumns.Are4.OnTablet.Are1.OnMobile" Width="Width.Is75" Shadow="Shadow.Default"
    Margin="Margin.IsAuto" Padding="Padding.Is4.OnY" Border="Border.Rounded">
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.InfoCircle" LinkTo="info">Info</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.Users" LinkTo="teams">Teams</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.CalendarDay" LinkTo="schedule">Schedule</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.ChartBar" LinkTo="stats">Stats</IconLink>
    </Column>
</Grid> -->
