@inherits LayoutComponentBase

@inject NavigationManager Navigation

<MudThemeProvider Theme="@_theme" IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        
        <MudImage Class="mt-4 pr-4 clickable" @onclick="@NavToHome" Src="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/logos//boltoncup.png" Height="75"/>

        <div class="d-none d-md-block">
            <MudButton Color="Color.Inherit" Href="/" Variant="Variant.Text" Size="Size.Large">HOME</MudButton>
            <MudButton Color="Color.Inherit" Href="/info" Variant="Variant.Text" Size="Size.Large">INFO</MudButton>
            <MudButton Color="Color.Inherit" Href="/teams" Variant="Variant.Text" Size="Size.Large">TEAMS
            </MudButton>
            <MudButton Color="Color.Inherit" Href="/schedule" Variant="Variant.Text" Size="Size.Large">SCHEDULE
            </MudButton>
            <MudButton Color="Color.Inherit" Href="/stats" Variant="Variant.Text" Size="Size.Large">STATS
            </MudButton>
        </div>

        <MudSpacer/>

        <div class="d-block d-md-none">
            <NavDrawer/>
        </div>

        <div class="d-none d-md-block">
            <MudButton Color="Color.Inherit" Href="/register" Variant="Variant.Text" Size="Size.Large">REGISTER</MudButton>
        </div>
    </MudAppBar>
        
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code {
    private bool _isDarkMode = true;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new CustomThemeProvider().Theme;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
        StateHasChanged();
    }

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

    private void NavToHome() => Navigation.NavigateTo("");
}