/* _content/BoltonCup/Components/Home/Banner.razor.rz.scp.css */
.banner-background[b-l93a8nc0ip] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://images.immediate.co.uk/production/volatile/sites/3/2023/05/Stanley-Cup-Finals-TV-78a5e50.jpg?quality=90&resize=980,654");
    background-size: cover;
    background-position: center center;
}
