@page "/tournaments/register"
@attribute [Sitemap(SitemapChangeFrequency.Monthly, Priority = 0.8f, LastModified = "2026-03-23")]

@inject IBoltonCupApi BoltonCupApi

<PageTitle>Register | Bolton Cup</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    @if (_tournament is not null)
    {
        <div class="mb-2 ml-2">
            <MudText Typo="Typo.h5"><b>Register for @_tournament.Name</b></MudText>
        </div>
    }
</MudContainer>

@code {

    [SupplyParameterFromQuery(Name = "tournament")]
    public int? TournamentId { get; set; }

    private Sdk.TournamentSingleDto? _tournament;
    
    protected override async Task OnParametersSetAsync()
    {
        if (TournamentId is null)
            return;
        if (_tournament?.Id != TournamentId)
            _tournament = await BoltonCupApi.GetTournamentByIdAsync(TournamentId.Value);
    }

}