@using BoltonCup.WebClient.Services
@namespace BoltonCup.WebClient.Components.Shared
@inject ITournamentRegistrationService RegistrationService

<AuthorizeView Context="_">
    <Authorized>
        @if (_context is not null)
        {
            <MudStepper @bind-ActiveIndex="CurrentStep" StepClass="py-2" NavClass="justify-center" NonLinear CenterLabels>
                <ChildContent>
                    <MudStep Title="Your Info" Completed="CurrentStep > 0">
                        <BoltonCupEditForm T="UserInfoModel" Model="_context.Model.UserInfo" OnValidSubmit="SaveAndContinue" SubmitText="Save & Continue"/>
                    </MudStep>
                    <MudStep Title="Documents" Disabled="CurrentStep < 1" Completed="CurrentStep > 1">
                        <MudText>Please review and agree to the following terms and conditions, including legal documents involving a waiver.</MudText>
                        <MudText>You can find each document <MudLink Color="Color.Info">here</MudLink>.</MudText>
                        <MudDivider Class="my-4"/>
                        <BoltonCupEditForm T="DocumentModel" Model="_context.Model.Documents" OnValidSubmit="SaveAndContinue" SubmitText="Save & Continue" Dense/>
                    </MudStep>
                    <MudStep Title="Checkout" Disabled="CurrentStep < 2" Completed="CurrentStep > 2">
                        <TournamentCheckout TournamentId="TournamentId" Position="@_context.Model.UserInfo.Position" OnValidSubmit="OnValidPayment">
                            <SuccessContent>
                                <MudAlert Severity="Severity.Success" NoIcon>
                                    <div class="d-flex flex-row align-center gap-3">
                                        <MudIcon Icon="@Icons.Material.Rounded.CheckCircleOutline" Size="Size.Large" Color="Color.Success" />                    
                                        <div>
                                            <MudText Typo="Typo.h6">Payment Successful!</MudText>
                                            <MudText>You are officially registered. A receipt has been sent to your email.</MudText>
                                        </div>
                                    </div>
                                </MudAlert>
                            </SuccessContent>
                        </TournamentCheckout>
                    </MudStep>
                </ChildContent>
                <ConnectorTemplate>
                    @* empty: renders better on mobile *@
                </ConnectorTemplate>
                <ActionContent>
                    @* empty: we will control navigation manually *@
                </ActionContent>
            </MudStepper>
        }
    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">Sorry! You are not authorized to register.</MudAlert>
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    [EditorRequired]
    public int TournamentId { get; set; }

    private int? _tournamentId;

    private TournamentRegistrationContext? _context;

    private int CurrentStep
    {
        get => _context?.CurrentStep ?? 0;
        set
        {
            if (_context is null)
                return;
            _context = _context with { CurrentStep = value };
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (TournamentId == _tournamentId)
            return;
        _tournamentId = TournamentId;
        
        _context = await RegistrationService.GetAsync(TournamentId);
        
        await InvokeAsync(StateHasChanged);
    }

    private async Task SaveAndContinue(EditContext _)
    {
        if (_context is null)
            return;
        _context = await RegistrationService.SaveAndContinueAsync(_context);
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnValidPayment()
    {
        if (_context is null)
            return;
        
        await InvokeAsync(StateHasChanged);
    }
    
}