@using System.Net.Http.Json
@using BoltonCup.Sdk
@namespace BoltonCup.Common.Components
@inject HttpClient Http

<CascadingValue Value="this" IsFixed>
    <div class="d-flex flex-row align-center gap-1 flex-wrap">
        @foreach (var filterField in Schema.PrimaryFields)
        {
            <FilterToolbarField
                FilterField="filterField"
                Value="@GetValue(filterField)"
                ValueChanged="@(v => SetValue(filterField, v))"
                OnApplyClicked="Apply"
                />
        }
    </div>
</CascadingValue>


@code {

    [Parameter]
    public required FilterSchemaDto Schema { get; set; }

    [Parameter]
    public EventCallback<Dictionary<string, FilterValue?>> OnApply { get; set; }

    private Dictionary<string, List<FilterOptionDto>> _options = [];
    private Dictionary<string, FilterValue?> _values = [];

    private async Task<List<FilterOptionDto>> FetchOptionsAsync(string path)
    {
        var result = await Http.GetFromJsonAsync<List<FilterOptionDto>>(path);
        return result ?? [];
    }
    
    private async Task LoadOptionsAsync(FilterFieldDto field)
    {
        _options[field.FieldName] = field.OptionsSource.SourceType switch
        {
            FilterOptionsSourceType.Static => field.OptionsSource.StaticOptions?.ToList() ?? [],
            FilterOptionsSourceType.Endpoint => await FetchOptionsAsync(field.OptionsSource.EndpointPath),
            _ => []
        };
    }

    public async Task<List<FilterOptionDto>> GetOptionsAsync(FilterFieldDto field, bool reload = false)
    {
        var isCached = _options.ContainsKey(field.FieldName);
        if (!isCached || reload)
            await LoadOptionsAsync(field);
        return _options[field.FieldName];
    }

    private void SetValue(FilterFieldDto field, FilterValue? value)
    {
        _values[field.FieldName] = value;
    }

    private FilterValue? GetValue(FilterFieldDto field)
    {
        return _values.GetValueOrDefault(field.FieldName);
    }

    private Task Apply()
    {
        return OnApply.InvokeAsync(new Dictionary<string, FilterValue?>(_values));
    }

}

