@namespace BoltonCup.Components

@if (Player is not null && Team is not null && Stats is not null)
{

    <Div Background="Background.Light" Padding="Padding.Is4.OnX.Is2.OnY" Display="Display.Flex" Border="Border.Rounded">
    <Div Padding="Padding.Is4.OnX" TextAlignment="TextAlignment.Center" Border="Border.Is2.OnEnd">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">G</Heading>
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@Stats.Goals</Heading>
    </Div>
    <Div Padding="Padding.Is4.OnX" TextAlignment="TextAlignment.Center">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">A</Heading>
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@Stats.Assists</Heading>
    </Div>
    <Div Padding="Padding.Is4.OnX" TextAlignment="TextAlignment.Center" Border="Border.Is2.OnStart">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">P</Heading>
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@(Stats.Goals + Stats.Assists)</Heading>
    </Div>
    <Div Padding="Padding.Is4.OnX" TextAlignment="TextAlignment.Center" Border="Border.Is2.OnStart">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">PIM</Heading>
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@Stats.PIMs</Heading>
    </Div>
</Div>
}

@code {
    [Parameter] public TeamPlayer? Player { get; set; } = null;
    [Parameter] public TeamData? Team { get; set; } = null;


    PlayerStat? Stats = null;
    protected override void OnInitialized()
    {
        if (Player is not null && Team is not null)
        {
            Stats = Api.StatService.Instance().PlayerTotals(Player, Team);
        }
    }
}