@inherits LayoutComponentBase

@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject NavigationManager Navigation

<MudThemeProvider Theme="_theme" />
<MudPopoverProvider />
<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraExtraLarge"
    CloseButton="true"
    CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="height: 5vh">
        <MudImage Class="clickable" Src="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/logos//bc-new.png" @onclick="@(() => Navigation.NavigateTo("/"))" Width="40"/>
        
        <MudButtonGroup Class="ml-8" OverrideStyles="false">
            <MudIconButton Href="/" Icon="@Icons.Material.Filled.Home" Color="Color.Tertiary" Size="Size.Small" />
            <AuthorizeView>
                <MudButton Href="draft" Color="Color.Tertiary" Size="Size.Small">Draft Tool</MudButton>
            </AuthorizeView>
        </MudButtonGroup>
        
        <MudSpacer />
        
        <CurrentPickBanner />

        <MudSpacer />
        
        <AuthorizeView>
            <MudText Typo="Typo.caption">Welcome back, @context.User.Identity?.Name</MudText>
            <MudButton Class="ml-2" OnClick="LogOutClicked" Color="Color.Error">Log Out</MudButton>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent>
        <div class="px-2">
            @Body
        </div>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? _theme = null;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
    
        _theme = new CustomThemeProvider().Theme;
        _theme.PaletteLight.AppbarBackground = "#232636";
    }

    private async Task LogOutClicked()
    {
        await CustomAuthenticationStateProvider.LogoutAsync();
        Navigation.NavigateTo("/", true);
    }
}