<MudAppBar Elevation="1" ToolBarClass="d-flex flex-row align-center">
    <a href="/" style="height: 100%">
        <MudImage Src="img/boltoncup.png" Alt="Bolton Cup" Height="64"/>
    </a>
</MudAppBar>