@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" />
<MudPopoverProvider />
<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraExtraLarge"
    CloseButton="true"
    CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <AppBar />
    <MudDrawer ClipMode="DrawerClipMode.Always" Elevation="2" Width="100px" Open>
        <MudNavMenu>
            <CustomNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store" Href="/">Home</CustomNavLink>
            <CustomNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks" Href="scoresheet">Scoresheet</CustomNavLink>
            <CustomNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group" Href="games">Games</CustomNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    
        _theme = new CustomThemeProvider().Theme;
        _theme.PaletteLight.AppbarBackground = "#232636";
    }
}