@namespace BoltonCup.Components


<Div Padding="Padding.Is4.OnY" Margin="Margin.Is4.FromStart" Width="Width.Is50">
    <Select @bind-SelectedValue="@selectedGame">
        @foreach (Matchup m in Api.ScheduleService.Instance().Matchups())
        {
            <SelectItem TValue="string" Value="@m.Title">@m.Title</SelectItem>
        }
    </Select>
</Div>

<UploadModal GameTitle="@selectedGame" />

@code {
    string selectedGame = Api.ScheduleService.Instance().Matchups()[0].Title;

    void UploadScoresheet()
    {
        Console.WriteLine(selectedGame);
    }
}