@namespace BoltonCup.Admin.Components.Shared
@typeparam T where T : EntityBase
@inherits EntityColumnBase<T, Team>

@code {

    private async Task<IEnumerable<Team>> Search(string value, CancellationToken cancellationToken)
    {
        if (EntityDataGrid is null)
            return [];
        await using var dbContext = await EntityDataGrid.DbContextFactory.CreateDbContextAsync(cancellationToken);
        return await dbContext
            .Set<Team>()
            .AsNoTracking()
            .Where(t => t.Name.Contains(value))
            .OrderBy(t => t.Name)
            .ToListAsync(cancellationToken);
    }
    
    protected override RenderFragment EntityEditTemplate(CellContext<T> context)
    {
        var obj = PropertyFunc(context.Item);
        if (obj is not Team and not null)
        {
            return @<div>bad data</div>;
        }

        var team = obj as Team;

        return @<div class="d-flex flex-row align-center gap-2">
                   @if (team is not null)
                   {
                       <MudLink Href="@($"/teams?id={team.Id}")" Underline="Underline.None">
                           <MudImage Src="@team.LogoUrl" Height="24"/>
                       </MudLink>
                   }
                   <MudAutocomplete T="Team" Placeholder="Team" SearchFunc="Search"
                                    Value="team" ValueChanged="x => SetProperty(context.Item, x)"
                                    IconSize="Size.Small" Margin="Margin.Dense" Strict="false"
                                    Required="Required" Clearable="!Required" SelectValueOnTab Dense FullWidth>
                       <ItemTemplate Context="itemContext">
                           <div class="d-flex flex-row align-center gap-1">
                               <MudImage Src="@itemContext.LogoUrl" Height="24"/>
                               <MudText Typo="Typo.body2">@itemContext.Name</MudText>
                           </div>
                       </ItemTemplate>
                   </MudAutocomplete>
               </div>;
    }
}