.home-banner-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/images/web-home.jpg");
    background-size: cover;
    background-position: center center;
}