.action-shot-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('./img/action-cover-temp.jpg');
}

::deep .action-shot {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 50% 70%;
    z-index: 0;
}

.action-shot-caption {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) saturate(180%);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}