<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToAuth />
                </NotAuthorized>
                <Authorizing>
                    @* empty (I dont want to see "Authorizing...") *@
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            @* TODO *@
            <h3>Not Found</h3>
            <p>Sorry, the content you are looking for does not exist.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>