@namespace BoltonCup.WebClient.Components.Shared

@if (!HideDivider)
{
    <MudDivider FlexItem Vertical />
}
<div class="d-flex flex-column align-center justify-space-evenly">
    <MudText Typo="Typo.caption">@Title</MudText>
    @if (Property is not null)
    {
        <MudText Typo="Typo.h5"><b>@TournamentStats.Sum(Property).ToString(Format)</b></MudText>
    }
</div>


@code {

    [CascadingParameter]
    public IEnumerable<Sdk.PlayerTournamentStats> TournamentStats { get; set; } = [];

    [Parameter]
    public string? Title { get; set; }
    
    [Parameter]
    public Func<Sdk.PlayerTournamentStats, double>? Property { get; set; }
    
    [Parameter]
    public string? Format { get; set; }
    
    [Parameter]
    public bool HideDivider { get; set; }

}