@page "/"
@layout Layouts.MainLayoutFooter

@* <MessageBanner /> *@
<Sponsors />

<Div Class="home-banner-background">
    <Grid RowColumns="RowColumns.Are1" Width="Width.Is100" Shadow="Shadow.Default" Margin="Margin.IsAuto"
        Border="Border.Rounded" Background="Background.Transparent">
        <Column ColumnSize="ColumnSize.Is12">
            <PlayerSpotlight />
        </Column>
    </Grid>

    <Grid RowColumns="RowColumns.Are1" Width="Width.Is100" Padding="Padding.Is4.OnY" Height="Height.Rem(40)">
        <Column ColumnSize="ColumnSize.Is12" Margin="Margin.IsAuto">
            <Countdown />
        </Column>
    </Grid>
</Div>

<br>
<br>

<Grid RowColumns="RowColumns.Are4.OnTablet.Are1.OnMobile" Width="Width.Is75" Shadow="Shadow.Default"
    Margin="Margin.IsAuto" Padding="Padding.Is4.OnY" Border="Border.Rounded">
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.InfoCircle" LinkTo="info">Info</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.Users" LinkTo="teams">Teams</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.CalendarDay" LinkTo="schedule">Schedule</IconLink>
    </Column>
    <Column ColumnSize="ColumnSize.IsQuarter.OnFullHD.Is12.OnMobile">
        <IconLink Icon="IconName.ChartBar" LinkTo="stats">Stats</IconLink>
    </Column>
</Grid>
