@page "/register"
@inject NavigationManager navManager

<br>
<br>
<br>
<br>

<Grid RowColumns="RowColumns.Are1" Width="Width.Is75" Margin="Margin.IsAuto" Border="Border.Rounded"
    Shadow="Shadow.Default">
    <Column ColumnSize="ColumnSize.IsFull" Padding="Padding.Is4">
        <InfoHeading>REGISTRATION</InfoHeading>
        <Divider />

        <InfoParagraph>To register, you can click the link below which will bring you to the payment page. Note there is
            an extra $2 fee for the service charge of online payment. Once you pay you will be redirected to fill out a
            registration form.</InfoParagraph>

        <InfoParagraph>Alternatively, you can send an e-Transfer of $50 to nicbolton17@icloud.com. Once received you
            will receive a link to fill out the registration form.</InfoParagraph>

        <Row Margin="Margin.IsAuto" Width="Width.Is50.OnTablet.Is100.OnMobile">
            <Button Color="Color.Primary">
                <Heading TextWeight="TextWeight.Bold" Margin="Margin.IsAuto" Italic>REGISTER</Heading>
            </Button>
        </Row>
    </Column>
</Grid>

@code {
    string registrationLink =
    "https://forms.office.com/Pages/ResponsePage.aspx?id=szP5EmE9GUuaTWiQId6MydfmFVKM4gFNi5kb75G_wgVUNDBZTThPMjRSUFhJOTJTMFBQMTMzTTJUOS4u";

    void InitRegistration()
    {

        Stripe.StripeConfiguration.ApiKey = Api.Payments.STRIPE_KEY;

        string prod_id = Api.Payments.PROD_ID;


        var options = new Stripe.Checkout.SessionCreateOptions
            {
                LineItems = new List<Stripe.Checkout.SessionLineItemOptions>
{
new Stripe.Checkout.SessionLineItemOptions
{
Price = prod_id,
Quantity = 1,
},
},
                Mode = "payment",
                SuccessUrl = registrationLink,
                CancelUrl = navManager.BaseUri + "",
            };
        try
        {

            var service = new Stripe.Checkout.SessionService();

            Stripe.Checkout.Session session = service.Create(options);
            navManager.NavigateTo(session.Url);

        }
        catch (Exception exc)
        {
            Console.WriteLine("Payment auth error:");
            Console.WriteLine(exc.ToString());
        }
    }
}