@namespace BoltonCup.Components

<Div Width="Width.Is100" Background="Background.Secondary" Padding="Padding.Is3.OnY">
    <Heading Width="Width.Is100" TextAlignment="TextAlignment.Center" Italic>DRAFT IS THURSDAY, JULY 25 @@ 6:30pm.
        WATCH LIVE ON IG
        <Blazorise.Link To="https://instagram.com/bolton_cup" Target="Target.Blank" TextColor="TextColor.Dark">
            @@bolton_cup</Blazorise.Link>
    </Heading>
</Div>