@namespace BoltonCup.Components

<Div Width="Width.Is100" Background="Background.Secondary" Padding="Padding.Is4.OnY">
    <Heading Width="Width.Is100" TextAlignment="TextAlignment.Center" Italic>DRAFT: Thursday, July 25. Watch live on
        <Blazorise.Link To="https://instagram.com/bolton_cup" Target="Target.Blank" TextColor="TextColor.Dark">
            @@bolton_cup</Blazorise.Link>
    </Heading>
</Div>