@namespace BoltonCup.Components

<Div Width="Width.Is100" Background="Background.Dark" Padding="Padding.Is2.OnY">
    <Heading Width="Width.Is100" TextAlignment="TextAlignment.Center" Size="HeadingSize.Is6"
        TextColor="TextColor.Light">OUR SPONSORS</Heading>
    <Grid RowColumns="RowColumns.Are4" Padding="Padding.Is2.OnY.Is4.OnX">

        <Column ColumnSize="ColumnSize.Is5.OnFullHD.Is4.OnTablet.Is2.OnMobile"></Column>

        <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnTablet.Is4.OnMobile" Padding="Padding.Is2.OnX"
            Margin="Margin.IsAuto.OnY.Is2.FromEnd">
            <Blazorise.Link Unstyled To="https://imaginecinemas.com/cinema/lakeshore/" Target="Target.Blank">
                <Image Source="https://imaginecinemas.com/wp-content/uploads/2022/09/Asset-2IC-New-Logo.png" Fluid />
            </Blazorise.Link>
        </Column>

        <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnTablet.Is4.OnMobile" Padding="Padding.Is2.OnX"
            Margin="Margin.IsAuto.OnY.Is2.FromStart">
            <Blazorise.Link Unstyled To="https://protoplastics.ca" Target="Target.Blank">
                <Image Source="https://protoplastics.ca/proto-logo-white.png" Fluid />
            </Blazorise.Link>
        </Column>

        <Column ColumnSize="ColumnSize.Is5.OnFullHD.Is4.OnTablet.Is2.OnMobile"></Column>
    </Grid>
</Div>
