@namespace BoltonCup.Components


<Div Width="Width.Is100" Background="Background.Dark" Padding="Padding.Is2.OnY">
    <Heading Width="Width.Is100" TextAlignment="TextAlignment.Center" Size="HeadingSize.Is6"
        TextColor="TextColor.Light">OUR SPONSORS</Heading>
    <Grid RowColumns="RowColumns.Are3" Padding="Padding.Is2.OnY.Is4.OnX">

        <Column ColumnSize="ColumnSize.IsThird" Padding="Padding.Is2.OnX" Margin="Margin.IsAuto.OnY.Is2.FromEnd">
            <Div Width="Width.Is25.OnFullHD.Is50.OnTablet.Is100.OnMobile" Margin="Margin.IsAuto">
                <Blazorise.Link Unstyled To="https://imaginecinemas.com/cinema/lakeshore/" Target="Target.Blank">
                    <Image Source="https://imaginecinemas.com/wp-content/uploads/2022/09/Asset-2IC-New-Logo.png"
                        Fluid />
                </Blazorise.Link>
            </Div>
        </Column>

        <Column ColumnSize="ColumnSize.IsThird" Padding="Padding.Is2.OnX" Margin="Margin.IsAuto.OnY.Is2.FromStart">
            <Div Width="Width.Is25.OnFullHD.Is50.OnTablet.Is100.OnMobile" Margin="Margin.IsAuto">
                <Blazorise.Link Unstyled To="https://protoplastics.ca" Target="Target.Blank">
                    <Image Source="https://protoplastics.ca/proto-logo-white.png" Fluid />
                </Blazorise.Link>
            </Div>
        </Column>

        <Column ColumnSize="ColumnSize.IsThird" Padding="Padding.Is2.OnX" Margin="Margin.IsAuto.OnY.Is2.FromStart">
            <Div Width="Width.Is25.OnFullHD.Is50.OnTablet.Is100.OnMobile" Margin="Margin.IsAuto">
                <Blazorise.Link Unstyled To="https://prospectsathleticsinc.ca/" Target="Target.Blank">
                    <Image
                        Source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa7R2ZbS7q5J1r1ktwqMKRGihUwvBe60b1KQ&s"
                        Fluid />
                </Blazorise.Link>
            </Div>
        </Column>

    </Grid>
</Div>
