@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" />

<MudLayout Class="d-flex flex-column" Style="min-height: 100vh">
    <MudAppBar Elevation="0">
        <a href="https://boltoncup.ca" style="height: 100%">
            <MudImage Src="img/boltoncup.png" Alt="Bolton Cup" Height="64"/>
        </a>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column align-center mud-width-full gap-3">
            @Body
        </MudContainer>
    </MudMainContent>
    <Footer />
</MudLayout>


@code {

    private readonly MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight()
        {
            AppbarBackground = "#FFFFFF",
            AppbarText = "#000000"
        }
    };

}