@namespace BoltonCup.Admin.Components.Shared
@typeparam T where T : class
@inherits InputColumnBase<T, DateTime?>

@code {

    private void SetDateTime(T item, DateTime? oldDateTime, DateTime? newDateTime)
    {
        newDateTime = newDateTime?.ToUniversalTime();
        if (newDateTime is not null)
        {
            oldDateTime ??= newDateTime;
            
            newDateTime = new DateTime(
                newDateTime.Value.Year,
                newDateTime.Value.Month,
                newDateTime.Value.Day,
                oldDateTime.Value.Hour,
                oldDateTime.Value.Minute,
                oldDateTime.Value.Second,
                oldDateTime.Value.Millisecond,
                oldDateTime.Value.Kind
            );
        }
        
        SetProperty(item, newDateTime);
    }
    
    protected override RenderFragment EntityEditTemplate(CellContext<T> context)
    {
        var property = PropertyFunc(context.Item);
        if (property is not DateTime and not null)
        {
            return @<div></div>;
        }

        var item = property as DateTime?;
        return @<MudDatePicker Date="item" DateChanged="d => SetDateTime(context.Item, item, d)"
                               IconSize="Size.Small" Margin="Margin.Dense" Underline="false" Rounded Editable />;
    }
}