@namespace BoltonCup.Admin.Components.Shared
@typeparam T where T : class
@using BoltonCup.Common
@inherits InputColumnBase<T, DateTime?>

@code {

    [Parameter]
    public bool DisplayEastern { get; set; } = true;

    private void SetDateTime(T item, DateTime? oldDateTime, DateTime? newDateTime)
    {
        // If the user clears the date, just pass null
        if (newDateTime is null)
        {
            SetProperty(item, null);
            return;
        }

        // Grab the time from the old date (default to midnight if there wasn't one)
        var timeOfDay = oldDateTime?.TimeOfDay ?? TimeSpan.Zero;
        
        // Combine the newly selected date with the old time
        var combinedDateTime = newDateTime.Value.Date + timeOfDay;

        // Ensure it gets converted back to UTC properly before saving
        var finalDateTime = DisplayEastern 
            ? combinedDateTime.ConvertEstToUtc() // Use your existing EST to UTC converter
            : DateTime.SpecifyKind(combinedDateTime, DateTimeKind.Utc);
        
        SetProperty(item, finalDateTime);
    }
    
    protected override RenderFragment EntityEditTemplate(CellContext<T> context)
    {
        var property = PropertyFunc(context.Item);
        if (property is not DateTime and not null)
        {
            return @<div></div>;
        }

        var item = property as DateTime?;
        if (DisplayEastern)
            item = item?.ToEst();

        return @<MudDatePicker Date="item" DateChanged="d => SetDateTime(context.Item, item, d)"
                               IconSize="Size.Small" Margin="Margin.Dense" Underline="false" Rounded Editable />;
    }
}