@namespace BoltonCup.Admin.Components.Shared
@typeparam T where T : class
@inherits InputColumnBase<T, DateTimeOffset?>

@code {
    
    // just use EST every time
    private const string TimeZoneId = "Eastern Standard Time";
    private static readonly TimeZoneInfo _timeZone = TimeZoneInfo.FindSystemTimeZoneById(TimeZoneId);

    private void SetDateTime(T item, DateTime? dateTime)
    {
        if (!dateTime.HasValue)
        {
            SetProperty(item, null);
            return;
        }
        var offset = _timeZone.GetUtcOffset(dateTime.Value);
        var value = new DateTimeOffset(dateTime.Value, offset);
        SetProperty(item, value);
    }
    
    protected override RenderFragment EntityEditTemplate(CellContext<T> context)
    {
        var property = PropertyFunc(context.Item);
        if (property is not DateTimeOffset and not null)
        {
            return @<div></div>;
        }

        DateTime? item = property is DateTimeOffset dtOffset
            ? TimeZoneInfo.ConvertTime(dtOffset, _timeZone).DateTime
            : null;

        return @<MudDatePicker Date="item" DateChanged="d => SetDateTime(context.Item, d)"
                               IconSize="Size.Small" Margin="Margin.Dense" Underline="false" Rounded Editable />;
    }
}