name: Build BoltonCup.WebClient

on:
  push:
    branches:
      - separation
  pull_request:
    branches:
      - main

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools
      - name: Install dependencies
        run: dotnet restore
          
      - name: Publish csproj
        run: dotnet publish ./src/BoltonCup.WebClient/BoltonCup.WebClient.csproj -c:Release -p:GHPages=true -o out/BoltonCupWebClient --nologo --no-restore

      - name: Create 404.html
        run: 'cp -p -n out/BoltonCupWebClient/wwwroot/index.html out/BoltonCupWebClient/wwwroot/404.html'
      #- name: Generate robots.txt
      #  run: TODO
      - name: 

      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: webclient-build
          FOLDER: out/BoltonCupWebClient/wwwroot
