@using MudBlazor.Utilities

<div class="d-flex flex-column border-b-2 border-solid" style="@Style">
    <MudSpacer />
    @if (!string.IsNullOrEmpty(Title))
    {
        <PageTitle>@Title</PageTitle>
    }

    <MudText Class="ml-6 mb-6" Typo="Typo.h4"><b>@ChildContent</b></MudText>
</div>

@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter] 
    public string? Title { get; set; }

    [Parameter] 
    public string BkgImage { get; set; } = string.Empty;

    [Parameter] 
    public string Height { get; set; } = "150px";

    [Parameter] 
    public int OffsetY { get; set; } = 45;

    private string Style =>
        new StyleBuilder("height", Height)
            .AddStyle("border-color", "var(--mud-palette-surface)")
            .AddStyle("background", $"url({BkgImage})", !string.IsNullOrEmpty(BkgImage))
            .AddStyle("background-size", "cover", !string.IsNullOrEmpty(BkgImage))
            .AddStyle("box-shadow", "inset 0 0 0 2000px #000000cc", !string.IsNullOrEmpty(BkgImage))
            .AddStyle("background-position", $"50% {OffsetY}%", !string.IsNullOrEmpty(BkgImage))
            .AddStyle("color", "white", !string.IsNullOrEmpty(BkgImage))
            .Build();

}